@use '~bootstrap/scss/bootstrap';

$primary: #6c3524;
$secondary: #cda16f;
$success: #6c3524;
$info: #cc0000;
// $warning: #c06378;
$danger: #d22833;
// $light:
$dark: #3e2e28;

// Bootstrapをインポート
@import 'bootstrap/scss/bootstrap';


header {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background-color: #F8F6F2;
}

.top_heading {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}


.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

// トップページメインビジュアル
  .main_visual {
    position: relative;
  }

  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }

  .text-overlay p {
    font-size: clamp(20px, calc(1.875rem + ((1vw - 7.68px) * 3.9063)), 50px);
    margin: 10px 0;
    white-space: nowrap;
  }

  div[id^="top_star"] img {
    width: 16px;
    height: auto;
}

// 詳細ページ商品名
.product-name {
  font-weight: bold;
  font-size: 30px;
}

// 詳細ページ点数の色
.rate-styled {
  color: #FFC800;
  font-weight: bold;
  font-size: 24px;
}

.font-small {
  font-size: 0.74em;
}