<div class="container">
  <div class="row mt-4">
    <h4>レビュー投稿</h4>
  </div>  
  <div class="row">
    <%= render "layouts/errors", obj: @review %>
    <%= render "form", review: @review %>
  </div>
</div>